################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/bin/Debug
/obj/Debug
/obj/Release
/bin/Release
/BSAsharp-debug/bin/Debug
/BSAsharp-debug/obj/Debug
/BSAsharp-debug/obj/Release
/BSAsharp-debug/bin/Release
